body{
	padding-top:20px;
}

.em-text{
	color:#1caa98 !important;
}

.jumbotron{
	background: url('img/jumb-background.jpg') no-repeat top center;
	color:#fff;
	height:595px;
}

.jumbotron h1{
	margin-top:100px;
	font-size:4.5em;
}



.jumbotron .app-btn{
	height:4.5em;
	margin: 40px 5em 0 0;
}

.jumbotron #phone-hand{
	height:547px;
	overflow:hidden;
	padding-left:5%;
}

